<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <div class="card">
                <h4 class="card-header text-center text-primary">Chatting With ChatGeek</h4>
                <div class="card-body mb-3">     
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="frame-box">
                                    <div *ngFor="let item of chatConversation">
                                        <div *ngIf="item.messageFrom === 2"class="chat-message">
                                            <span class="chat-bubble bg-primary text-white text-right mb-1">{{item.message}}</span>
                                        </div>
                                        <div *ngIf="item.messageFrom === 1" class="chat-message">
                                            <span class="chat-bubble bg-secondary text-white text-left mb-1 me-5">{{item.message}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="showLoading"><img src="../../assets/images/loading.gif" width="50px" height="50px"></div>
                                </div>
                            </div>
                            <div class="col-md-1"> </div>       
                        </div>
                        <div class="row mt-4">
                        

                           
                            <div class="col-md-2"></div>
                            <div class="col-7">
                                <textarea  class="form-control" placeholder="Message ..." [(ngModel)]="promptText"></textarea>
                            </div>
                           
                                <button class=" col-1 btn btn-outline-primary" (click)="submitMessage()"><i class="bi bi-send-check-fill "></i> </button>
                           
                            <div class="col-md-2"></div>
                        </div>                 
                    </div>
            </div>
        </div>
    </div>

</div>